#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
  background-image: url(Tomato.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: 600px;
  background-position: center;
  background-blend-mode: darken;
  margin-top: 50px;
  color: white;
  background-color: rgb(241, 218, 214);
}

h1 {
  color: rgb(0, 0, 0);
  margin-bottom: 100px;
  font-size: 40px;
}
.layout {
  display: inline-block;
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 120px;
  color: black;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 16px;
}

.arrows {
  font-size: 20px;
  cursor: pointer;
}

.arrows section {
  display: inline-block;
  margin-top: -8px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 30px;
}

.timer {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Orbitron", sans-serif;
}

.timer-elements {
  font-size: 80px;
  margin-bottom: 50px;
  padding: 20px;
}

button {
  margin-top: 120px;
  width: 170px;
  height: 65px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  background-color: red;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

#green-start-stop {
  background-color: rgb(9, 163, 99);
}

#red-start-stop {
  background-color: red;
}

#blue-start-stop {
  background-color: blue;
}

@media (max-width: 600px) {
  body {
    background-size: 400px;
  }

  h1 {
    margin-bottom: -30px;
    font-size: 35px;
  }

  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #session-increment,
  #session-decrement,
  #break-increment,
  #break-decrement {
    font-size: 20px;
    margin: 15px;
  }

  #break-length,
  #session-length {
    font-size: 20px;
  }
  .timer {
    margin-top: 30px;
  }

  .timer-elements {
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: 70px;
  }

  button {
    width: 180px;
    height: 50px;
    padding: 10px;
    margin-top: 15px;
    font-size: 20px;
    cursor: pointer;
  }
}

@media (max-height: 600px) {
  body {
    background-size: 400px;
  }

  .timer-elements {
    font-size: 40px;
    margin-top: -170px;
  }

  button {
    margin-top: 40px;
    width: 120px;
    height: 50px;
    padding: 10px;

    font-size: 20px;
    cursor: pointer;
  }
}
